$title-text-color: black;
$body-text-color: black;

.details {
  margin: 0 auto;
  /*max width&height both work*/
  width: 320px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: scroll;

  &__title {
    text-align: center;
    font-size: 2.4rem;
    color: $title-text-color;
    margin: 0.3rem 0;
  }

  &__img {
    border-radius: 0.5rem;

    width: 100%;

    height: auto;
    flex-shrink: 2;
  }

  &__rating {
    margin: 0.5rem 0;
    font-size: 1.6rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__star {
    margin-left: 2rem;
  }

  &__summary {
    border: 1px solid black;
    padding: 0.25rem 1rem;
    font-size: 1.3rem;
    line-height: 1.5;
    width: 100%;
    height: 10%;
    overflow: scroll;
    flex-grow: 1;
    flex-shrink: 1;
  }

  &__list {
    border: 1px solid black;
    padding: 0.25rem 1rem;
    margin-top: 1rem;
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.3rem;
    line-height: 1.5;
    overflow: scroll;
  }
}
