$title-text-color: black;
$body-text-color: black;

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  max-width: 330px;
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif;
  overflow: scroll;

  &__title {
    text-align: center;
    font-size: 2.4rem;
    color: $title-text-color;
    margin: 0.3rem 0;
  }

  &__img {
    border-radius: 0.5rem;
    width: 100%;
    min-width: 200px;
    height: auto;
  }

  &__rating {
    margin: 0.5rem 0;
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__star {
    margin-left: 2rem;
  }

  &__summary {
    border: 1px solid black;
    padding: 0.25rem 1rem;
    font-size: 1.3rem;
    line-height: 1.5;
    flex-basis: 100px;
    height: 10%;
    overflow: scroll;
  }

  &__starring {
    margin-top: 1rem;
    border: 1px solid black;
    padding: 0.25rem 1rem;
    font-size: 1.3rem;
    line-height: 1.5;
    flex-basis: 70px;
    height: 7%;
    overflow: scroll;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    font-size: 1.3rem;
  }
}
