.navigation {
  margin-top: 1rem;
  background-color: $header-background-color;
  display: grid;
  height: 40px;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "a b c";
  flex-shrink: 0;
}

.left {
  grid-area: a;
  background-color: transparent;
  color: $header-color;
  border: none;
}

.right {
  grid-area: c;
  background-color: transparent;
  color: $header-color;
  border: none;
}

.navigation__form {
  grid-area: b;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: "left right";
  border: none;
}

.navigation__submit {
  grid-area: right;
  grid-row: 1 / 3;
  background-color: transparent;
  color: $header-color;
  border: none;
}
