body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

#grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template:
    "header"
    "details"
    "navigation";
}
