$header-color: white;
$header-background-color: black;

.header {
  background-color: $header-background-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  font-weight: 900;
  flex-shrink: 0;
}

.logo {
  font-size: 2.2rem;
  margin-left: 1rem;
  color: $header-color;
}
/* Hamburger Menu */

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  width: 4rem;
  margin: 0;
}
.line {
  fill: none;
  stroke: $header-color;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
