$header-color: white;
$header-background-color: black;

#header-container {
  grid-area: header;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
}

.header {
  flex-basis: 800px;
  background-color: $header-background-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  font-weight: 900;
}

.logo {
  font-size: 2.2rem;
  margin-left: 1rem;
  color: $header-color;
  &__symbol {
    margin-right: 1rem;
  }
}
