#navigation-container {
  grid-area: navigation;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  color: black;
  background-color: black;
}

.navigation {
  max-width: 350px;
  padding: 0.5rem;
  height: 50px;
  background-color: black;
  display: grid;
  grid-template:
    "previous form next" 1fr
    / 1fr 4fr 1fr;
  grid-row-gap: 0.5rem;
  grid-column-gap: 1rem;

  &__previous {
    grid-area: previous;
    background-color: black;
    color: black;
    border: none;
  }
  &__next {
    grid-area: next;
    background-color: black;
    color: black;
    border: none;
  }
  &__form {
    display: grid;
    grid-template:
      "genre-label genre submit" 1fr
      "year-label year submit" 1fr
      / 1fr 2fr 2fr;
    grid-row-gap: 0.5rem;
    grid-column-gap: 1rem;
    grid-column-gap: 1rem;

    &--genre-label {
      grid-area: genre-label;
      align-self: center;
      justify-self: end;
      color: white;
      font-size: 1.25rem;
    }
    &--genre {
      grid-area: genre;
      border: none;
      font-size: 1.25rem;
    }
    &--year-label {
      grid-area: year-label;
      align-self: center;
      justify-self: end;
      color: white;
      font-size: 1.25rem;
    }
    &--year {
      grid-area: year;
      border: none;
      font-size: 1.25rem;
    }
    &--submit {
      grid-area: submit;
      font-size: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      font-weight: bold;
      color: black;
      border: none;
      border-radius: 0.7rem;
    }
  }
}
