// for short screens
@media (max-height: 700px) {
  .details__img {
    max-width: 80%;
  }
}

@media (min-width: 800px) {
  .details {
    width: 750px;
    max-width: 750px;
    margin: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "image title"
      "image rating"
      "image credits"
      "image summary";
    justify-items: center;
    align-items: center;
    grid-column-gap: 1rem;
  }
}
